/* *{
} */

body{

    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    min-width: 400px;

}
input{
    /* padding-left: 10px;
    padding-right: 10px ; */
    padding: 8px 15px ;
    width: 100%;
    box-sizing:  border-box;
    color:ghostwhite;
    background-color: #01232e;
    border: solid white 1px;
    border-radius: 5px;
}
.save-btn{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #021a20;
    color: wheat;
    padding: 10px 8px;
    border-radius: 10px;
    border-color: aquamarine;
    width: 35%;
    text-transform: uppercase;
    box-sizing: border-box;
}
.links-copy{
    text-decoration: none;

    color: #00ffff;

}
.links-copy:hover{
    color: #707bf7;
}
li{
    padding: 2px;
    margin: 2px;
    list-style: none;
}

